body{
    background-color: #effaf0;
}


.conteiner{
	width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.className {
	text-align: right;
}

.artBuscar {
	width: 55%;
	margin: 0 auto;
}

.botones {
	text-align: center;
	float: right;
	width: 100px;
	height: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.principal {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 200px;
	margin-top: -200px;
	margin-left: -245px;
}

.divSession{
	position: fixed;
    right: 25px;
    top: 10px;
}

.aformular{
   background-color:#e6e7da;
   background-image:none;
}

.formulado{
   background-color:#feeac5;
   background-image:none;
}

.creado{
   background-color:#acfa5f;
   background-image:none;
}

.enviado{
   background-color:#11cca7;
   background-image:none;
}

.minimo{
	background-color:#ffff80;
   	background-image:none;
}

.critico{
	background-color:#cde3fc;
   	background-image:none;
}


